.profile {
    margin: 74px auto 0 auto;
    padding-bottom: 40px;
    max-width: 410px;
    display: flex;
    flex-direction: column;
}

.profile__title {
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    margin-top: 123px;
}

.profile__input {
    padding: 16px 0;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}

.profile__input:first-child {
    border-bottom: 1px solid #424242;
}

.profile__button {
    margin: 220px 0 16px 0;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 0;
    border: 0;
}

.profile__button_red {
    color: #EE3465;
    margin: 0;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .profile {
        margin: 74px 30px 0 30px;
    }

    .profile__form {
        margin-top: 80px;
    }

    .profile__button {
        margin-top: 290px;
    }

    .profile__button_red {
        margin: 0;
    }
}