@import url(../../vendor/normilize.css);
@import url(../../vendor/fonts/Inter/inter.css);

.App {
  background-color: #000000;
  min-height: 100vh;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}