.register {
    max-width: 396px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.register__img {
    width: 38px;
    height: 38px;
}

.register__title {
    color: #fff;
    margin: 40px 0 16px 0;
    font-weight: 500;
    font-size: 24px;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__label {
    font-weight: 400;
    font-size: 10px;
    color: #8B8B8B;
    margin-top: 24px;
}

.register__input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #424242;
    padding: 5px 0 10px 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.register__button {
    margin-top: 150px;
    background-color: #4285F4;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 14px 0;
    border: 0;
    border-radius: 3px;
}

.register__login-link {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #4285F4;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .register {
        max-width: 260px;
    }

    .register__button {
        margin-top: 250px;
    }
}